body {
  font-family: "Roboto", "Helvetica Neue";
  display: grid;
  max-height: 99vh;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 7% 1fr 2fr 2fr;
  margin: 0;
  background-color: #f7f8fc;
  gap: 2%;
}

a {
  text-decoration: none;
  color: #9fa2b4;
}

.sidebar {
  background-color: #363740;
  grid-area: 1/1/7/1;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 78% 10%;
  gap: 2%;
}

.logo {
  display: grid;
  justify-items: center;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  margin-top: 10%;
}

.sidebar .side-top > *:hover {
  background-color: rgba(245, 245, 245, 0.129);
  height: 100%;
}

.sidebar .side-top div  {
  display: flex;
  gap: 10px;
font-size: 0.8rem;
font-weight: 500;
  height: 100%;
  justify-items: center;
  align-items: center;
}

.sidebar img{
    height: 70%;
    margin-left: 10%
}

.side-top {
  display: grid;
  width: 100%;
  align-items: center;
  grid-template-rows: repeat(auto-fill, minmax(5%, 7%));
}


.side-bottom {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(1fr, 1fr));
  width: 100%;
}

.sidebar .side-bottom div  {
    display: flex;
    gap: 10px;
  font-size: 0.8rem;
  font-weight: 500;
    height: 100%;
    justify-items: center;
    align-items: center;
}

.sidebar .side-bottom > *:hover {
  background-color: rgba(245, 245, 245, 0.129);
  height: 100%;
}

.overviewBar {
  grid-area: 1/2/1/-1;
  display: grid;
  grid-template-columns: 85% 15%;
  align-items: center;
  margin-right: 2%;
}

.overviewBar .left {
  font-size: 1.3rem;
  font-weight: bold;
}

.overviewBar .right {
  display: grid;
  justify-items: end;
  align-items: center;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  overflow: hidden;
}

.overviewBar img {
  width: 55%;
  height: auto;
}
.overviewBar .right > *:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.status {
  grid-area: 2/2/2/-1;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax(100px, 300px));
  margin-right: 2%;
  gap: 5px;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 10%;
  height: 100px;
  align-content: center;
  padding: 3%;
  border-radius: 10px;
  border: gainsboro solid 2px;
  background-color: white;
}

.card .title {
  font-size: 1rem;
  font-weight: 500;
  color: #9fa2b4;
}

.card .number {
  font-size: 1.7rem;
  font-weight: bold;
}
.card:hover {
  border: blue solid 2px;
  color: blue;
}

.main {
  grid-area: 3/2/3/-1;
  margin-right: 2%;
  border: gainsboro solid 2px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);
  grid-template-rows: minmax(0px, 1fr);
}

.main .chart {
  border-right: gainsboro solid 2px;
  position: relative;
  background-color: white;
  border-top-left-radius: 10px;
}

.main .chart p {
  position: absolute;
  bottom: 85%;
  left: 2%;
  font-weight: bold;
}

.main .chart > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 2px;
}

.main .statistics {
  display: grid;
  grid-template-rows: repeat(4, minmax(0, 1fr));
  border-bottom-right-radius: 90px;
}
.main .statistics > div {
  display: grid;
  place-items: center;
  grid-template-rows: minmax(0, 1fr);
  grid-template-rows: 1fr 2fr;
  background-color: white;
}

.main .statistics > div:first-child {
  border-top-right-radius: 10px;
}
.main .statistics > div:last-child {
  border-bottom-right-radius: 10px;
}
.stat-top {
  color: #9fa2b4;
  font-size: 1rem;
}

.stat-bottom {
  font-size: 1.5rem;
  font-weight: bold;
}

.main .statistics > div:not(:last-child) {
  border-bottom: gainsboro solid 2px;
}

.bottom {
  display: grid;
  gap: 25px;
  justify-items: space-between;
  grid-template-columns: 1fr 1fr;
}
.card-bottom {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: space-evenly;
  border: gainsboro solid 2px;
  border-radius: 10px;
  background-color: white;
}

.card-bottom > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-size: 0.8rem;
  padding: 15px;
}
.card-bottom > div > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card-bottom .row1 .left {
  font-size: 1.2rem;
  font-weight: bold;
}
.card-bottom .row1 .right {
  color: #3751ff;
  font-size: 0.9rem;
  cursor: pointer;
}

.card-bottom .row1 .right:hover {
  color: #3751ff;
  font-size: 0.9rem;
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.2s;
}

.card-bottom > div:not(:last-child):not(:first-child) {
  border-bottom: gainsboro solid 2px;
}
.card-bottom:last-child {
  margin-right: 3.5%;
}
.card-bottom .right {
  color: #9fa2b4;
  font-size: 0.8rem;
}

.card-bottom .rights {
  display: grid;
  place-items: center;
  color: white;
  font-weight: bold;
  padding: 6px;
  width: 10%;
  border-radius: 3px;
  font-size: 0.7em;
}

.card-bottom .row2 .rights {
  background-color: orange;
}

.card-bottom .row3 .rights {
  background-color: rgb(79, 188, 79);
}

.card-bottom .row4 .rights {
  background-color: rgb(161, 161, 161);
}

.card-bottom .row5 .rights {
  background-color: rgb(7, 7, 198);
}

.checkbox {
  vertical-align: middle;
  border: red solid 2px;
  cursor: pointer;
  font-size: 0.8rem;
}
